<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-show='inventory > 10' v-bind:src="image" alt="">
                <img v-show='inventory <= 10' v-bind:src="oosImage" v-bind:alt="product + ' ' + altText">
            </div>
            <div class="produtc-info">
                <h1>{{product}}</h1>
                <span v-if='onSale'>{{product}} is on Sale right now!</span>
                <p v-if='inventory > 10'>In Stock</p>
                <p v-else-if='inventory <= 10 && inventory > 0'>Almost sold out</p>
                <p v-else>Out of Stock</p>
                <ul>
                    <li v-for='detail in details'>{{detail}}</li>
                </ul>
                <p>You can order these {{product}} in the following marvelous colors:</p>
                <ul>
                    <li v-for='variant in variants' 
                        v-bind:key='variant.variantId'
                        class="color-box">
                    <p v-on:mouseover='updateProduct(variant.variantImage)'>{{variant.variantColor}}</p>
                    </li>
                </ul>

                <a :href="link">Here you can find more {{product}}</a> <!-- 'v-bind:href' has a shortcut to simply ':href' -->
                <br>

                <button v-on:click='addToCart'>Add to Cart</button>
                <button v-on:click='removeFromCart'>Delete </button>
                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
                <br>
            </div>
            
        </div>

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="main.js"></script>
</body>
</html>